[Unit]
Description=Raspberry Pi Camera RTSP Stream
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=admin # Considering your username is admin and you have kept the mediamtx in /home/admin/mediamtx - same with the line below.
WorkingDirectory=/home/admin/mediamtx
ExecStart=/usr/local/bin/pi-camera-stream.sh
Restart=always
RestartSec=5

# Helpful for ffmpeg / camera pipelines
KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target